<div class="container-fluid h-100">
	<div class="row h-100">
		<div class="col-md-3 col-lg-2 border-dark border-right p-0 bg-dark">
			<ul class="nav nav-pills flex-column h-100">
				<li class="nav-item mt-3">
					<a class="nav-link" href="/#home">
						<i class="bi bi-house-fill"></i>
						Home
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/#search">
						<i class="bi bi-search"></i>
						Search
					</a>
				</li>
				<li class="nav-item">
					<h5>Discover</h5>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/#live">
						<i class="bi bi-music-note-beamed"></i>
						Now Playing
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/#radio">
						<i class="bi bi-broadcast-pin"></i>
						Radio
					</a>
				</li>
				<li class="nav-item">
					<h5>Library</h5>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/#artists">
						<i class="bi bi-person"></i>
						Artists
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/#albums">
						<i class="bi bi-disc"></i>
						Albums
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/#tracks">
						<i class="bi bi-music-note"></i>
						Songs
					</a>
				</li>
				<li class="nav-item">
					<h5>Playlists</h5>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/#playlist?id=1">
						Playlist #1
					</a>
				</li>
			</ul>
		</div>
		<div class="col-md-9 col-lg-10 h-100 p-0">
			<table id="tbl-filter">
				<tr>
					<td style="width: 33%">
						<select id="drp-artists" multiple>
							{% for a in artists %}
							<option value="{{ a[0] }}">{{ a[0] }}</option>
							{% endfor %}
						</select>
					</td>
					<td style="width: 33%">
						<select id="drp-albums" multiple>
							{% for a in albums %}
							{% if a[0] != None %}
							<option value="{{ a[0] }}">{{ a[0] }}</option>
							{% endif %}
							{% endfor %}
						</select>
					</td>
					<td style="width: 33%">
						<select id="drp-genres" multiple>
							{% for g in genres %}
							<option value="{{ g[0] }}">{{ g[0] }}</option>
							{% endfor %}
						</select>
					</td>
				</tr>
				<tr>
					<td colspan="3" style="max-height:100%; overflow-y: scroll;">
						<table id="tbl-tracks" class="table table-sm table-dark">
							<thead class="table-dark">
								<tr>
									<th scope="col">&nbsp;</th>
									<th class="ps-3" scope="col">Song</th>
									<th scope="col">Artist</th>
									<th scope="col">Album</th>
									<th scope="col">Year</th>
									<th scope="col">Genre</th>
									<th scope="col">Track</th>
									<th class="pe-3" scope="col">Disc</th>
								</tr>
							</thead>
							<tbody>
								{% for t in tracks %}
								<tr>
									<td></td>
									<td class="ps-3 overflow-x-hidden">{{ t.track }}</td>
									<td>{{ t.albumartist }}</td>
									<td>{{ t.album }}</td>
									<td>{{ t.year }}</td>
									<td>{{ t.genre }}</td>
									<td>{{ t.tracknumber|replace('/', ' of ') if t.tracknumber else "" }}</td>
									<td class="pe-3">{{ t.discnumber|replace('/', ' of ') if t.discnumber else "" }}</td>
								</tr>
								{% endfor %}
							</tbody>
						</table>
					</td>
				</tr>
			</table>
		</div>			
	</div>
</div>




