/* Theme Colors */
:root {
	--body-bg: black;
	--navbar-bg: #05040e;
	--navbar-link-color: #60bbdd;
	--sidebar-bg: #111;
	--sidebar-link-hover: #0F0C16;
	--sidebar-link-active: #291844;
}

::-webkit-scrollbar {
  background:black;
}

.col-right {
	text-align: right; padding-right: 1.5em;
}

.btn-huge { width: 500px; height: 100%; }

.offcanvas.queue {
	width: 600px !important;
	background: #000;
}

/* QUEUE */
.row-track:hover {
	background: #222;
/*	transition: all 0.3s ease-in;*/
}
.row-track > div {
	padding: 7px 0;
}
.row-track .play,
.row-track .favorite {
	display: none;	
}
.row-track:hover .play,
.row-track:hover .favorite  {
	display: inline-block;
}
.row-track:hover .pos {
	display: none;
}
.row-track small {
	font-size: 11px;
}


/* Top Level Styles */
html,
body {
	height: 100%;
	font-size: 14px;
}
body {
	background: var(--body-bg);
}

body.desktop {
	padding-top: 78px;
}

/* Main Nav */
#header {
	height: 78px;
	background: var(--navbar-bg) !important;
	border-bottom: solid 1px #111;
}
#header .navbar-brand i {
	color: var(--navbar-link-color)
}
#header .nav-link  i {
	margin-right: .5em;
}

.player-controls button,
.player-controls button:hover {
	color: #999;
}
.player-marquee {
		padding-top: 12px;
    background: #111;
    border: solid 1px #222;
    border-radius: 5px;
    height: 60px;
}

/* Sidebar Nav */
#sidebar {
	background: var(--sidebar-bg);
}
#sidebar .nav-item > h5 {
	padding: 2rem var(--bs-nav-link-padding-x) 0;
	font-size: 0.8rem;
	color: #999;
}
#sidebar .nav-link,
#sidebar .nav-link a {
	color:#aaa !important;
	border-radius: 0;
	border:none;
}
#sidebar .nav-link:hover {
	color:#bbb !important;
	background-color: var(--sidebar-link-hover);
}
#sidebar .nav-link.active {
	background-color: var(--sidebar-link-active);
	color: white;
}
#sidebar .nav-link i {
	margin-right: 5px;
}








/* Genre Cards */
.card-bg-1 { background: #023047; }
.card-bg-2 { background: #8ECAE6; }
.card-bg-3 { background: #FB8500; }
.card-bg-4 { background: #219EBC; }
.card-bg-5 { background: #FFB703; }
.card-bg-6 { background: #023047; }
.card-bg-7 { background: #FB8500; }
.card-bg-8 { background: #8ECAE6; }
.card-bg-9 { background: #023047; }

.card.genre h5 {
	color: white;
	font-size: 20px;
	filter: drop-shadow(1px 2px 3px #000000);
}






#tbl-filter {
	width: 100%;
	height: 100%;
}

#tbl-filter select {
	background: #333;
	color: white;
	height: 150px;
}

/* FOOTER NAV */
#footer {
	background: #000;
}
#footer .nav-link {
	text-align: center;
	color: gray;
}
#footer .nav-link.active {
	color: white;
	background: #000;
}
#footer .nav-link i {
	font-size: 18px;
	display: block;
}
#footer .nav-link span {
	font-size: 12px;
}


#now-playing {
	height: 100%; 
	width: 100%; 
	background: rgb(0,0,0);
	background: linear-gradient(180deg, rgba(5,5,5,1) 0%, rgba(10,10,10,1) 100%);
}

/* MINI PLAYER */
#player-mini {
	height:75px;
}
#player {
	width: 100%;
	overflow: hidden;
}
.player .btn-xxl {
	height: 75px;
}
.player .btn {
	color: #ccc;
}
.player .btn:hover {
	color: #eee;
}
.player .marquee {
	color: #999;
	height: 60px;
    text-decoration: none;
}
.player .marquee .player-title {
	margin-bottom: -5px;
    margin-top: 20px;
	font-size: 13px;
	color:white;
	display: block;
}
.player .marquee .player-artist {
	font-size: 11px;
	color: #999;
}


/* Player Styles */
.img-thumbnail {
    background-color: #111;
    border: solid 1px #333;
}

.no-link{
	text-decoration: none;
	color: white;
}
.no-link small {
	color: #999;
}

.btn-xxl > i {
	font-size: 60px;
	line-height: 60px;
	height: 60px;
}
.btn-xl > i {
	font-size: 36px;
	line-height: 60px;
}
.btn-lg > i {
	line-height: 60px;
}

/* Helpers */
.hidden {
	display: none;
}
.on {
	color:#04A9C1 !important;
}
.text-info {
	color: #666 !important;
	text-transform: uppercase;
}

/* FULL SCREEN MODALS */
.modal-full .btn-close {
	color: white !important;	
}
.modal-full .modal-header {
	background: black;
	padding: 10px 0;
	border: none;
	display: block;
	height: 60px;]
	line-height: 60px;
}
.modal-full .modal-header h5 {
	display: inline-block;
	color: #666;
}
.modal-full .modal-header .btn-back {
	color:white;
}
.modal-full .modal-dialog {
	margin: 0;
	height: 100%;
}
.modal-full .modal-content {
	background: black;
	border-radius: 0;
	border: none;
	color: white;
	height: 100%;
}

.playlist {
	color:white;
}

/* SLIDER SWITCHES */

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
	position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
	position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/*
-------------------------------------------------------------------------------


** KIOSK MODE / RESPONSIVE QUERIES **


Resolutions:
- Jukebox Kiosk = 600 x 1600 / Portrait
- Jukebox Tablet = 800x480 / Landscape
- Jukebox Desktop = 1920 x 1080 / Landscape


-------------------------------------------------------------------------------
*/

#fullscreen img {
	width: 150px;
}

/* JUKEBOX 1.0 */
@media (min-width: 576px) { ... }

/* JUKEBOX TABLET */
@media (min-width: 768px) { 



}

/* JUKEBOX DESKTOP */
@media (min-width: 992px) { 

#fullscreen img {
	width: 400px;
}

 }
