<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="theme-color" content="#023047">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="description" content="Jukebox is a hi-res music server.">
	<meta name="theme-color" content="#15141c">

	<title>Jukebox</title>
	<link rel="shortcut icon" href="/favicon.ico">
	<link rel="apple-touch-icon" sizes="180x180" href="/static/img/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/static/img/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/static/img/favicon-16x16.png">
	
	<link rel="manifest" href="/static/manifest.json">
	<link rel="stylesheet" href="/static/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
	<link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
	{% block content %}
	{% endblock %}
	{% if player.status.error %}
	<div class="error">
		{{ player.status.error }}
	</div>
	{% endif %}
	<nav id="footer" class="navbar fixed-bottom">
		<div class="container-fluid p-0">

			<!-- MINI PLAYER -->
			<div id="player" class="player p-0">
				<input id="trackid" type="hidden" />
				<div class="row">
					<div class="col-2">
						<button id="player-btn" class="btn btn-lg" onclick="playerPlayToggle()" style="font-size:28px;">
							<i class="bi bi-play-circle-fill player-btn-play {{ 'hidden' if player.status.state == 'play' else '' }}"></i>
							<i class="bi bi-pause-circle-fill player-btn-pause {{ 'hidden' if player.status.state != 'play' else '' }}"></i>
						</button>
					</div>
					<div class="col">
						<a class="marquee" href="javascript:;" data-bs-toggle="modal" data-bs-target="#player-full">
							<span class="player-title">{{ player.currentsong.title }}</span>
							<span class="player-artist">{{ player.currentsong.artist }}</span>
						</a>
					</div>
					<div class="col-2">
						<button class="btn btn-lg" data-bs-toggle="modal" data-bs-target="#player-cast-full">
							<i class="bi-speaker-fill"></i>
						</button>
						
					</div>
				</div>
			</div>

			<!-- FOOTER NAV -->
			<ul class="nav nav-pills nav-justified" style="width: 100%;">
				<li class="nav-item">
					<a class="nav-link {{ 'active' if route == 'index' else ''}}" href="/#home">
						<i class="bi bi-house-fill"></i> 
						<span>Home</span>
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link {{ 'active' if route == 'live' else ''}}" href="/#radio">
						<i class="bi bi-broadcast-pin"></i> 
						<span>Radio</span>
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link {{ 'active' if route == 'search' else ''}}" href="/#search">
						<i class="bi bi-search"></i>
						<span>Search</span>
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link {{ 'active' if route == 'queue' else ''}}" href="/#queue">
						<i class="bi bi-collection-play-fill"></i>
						<span>Queue</span>
					</a>
				</li>
			</ul>

		</div>
	</nav>

	<!-- FULL SCREEN CAST -->
	<div id="player-cast-full" class="modal modal-full fade" tabindex="-1">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-body">
					<div class="modal-header">
						<button type="button" class="btn btn-xl me-1" data-bs-dismiss="modal" aria-label="Close">
							<i class="bi bi-chevron-down"></i>
						</button>
						<h5 class="text-secondary">
							Playback Settings
						</h5>
					</div>
					<div id="cast" class="pt-5">

						<h4 class="text-secondary">Audio Outputs</h4>
						{% for o in player.outputs %}
						<div class="row my-4">
							<div class="col">
								<label class="switch">
									<input type="checkbox" checked="{{ o.outputenabled }}">
									<span class="slider round"></span>
								</label>
							</div>
							<div class="col-9">
								<h4 class="text-light switch-label">{{ o.outputname }}</h4>
							</div>
						</div>
						{% endfor %}
						<h4 class="text-secondary">Volume</h4>
						{% if player.status.volume %}
						<button class="btn btn-lg" onclick="playerMuteToggle()" style="font-size:18px;">
							<i class="bi bi-volume-up-fill player-btn-volume"></i>
							<i class="bi bi-volume-mute-fill player-btn-mute" style="display: none;"></i>
							<i class="bi bi-volume-mute-fill player-btn-fixed" style="display: none;"></i>
						</button>
						{% else %}
						Volume is controlled by the AV receiver.
						{% endif %}
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- FULL SCREEN PLAYER -->
	<div id="player-full" class="modal modal-full fade" tabindex="-1">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="btn btn-xl me-1 btn-back" data-bs-dismiss="modal" aria-label="Close">
						<i class="bi bi-chevron-down"></i>
					</button>
					<h5 class="text-secondary text-nowrap player-album">
						{{ player.currentsong.album }}
					</h5>
				</div>
				<div class="modal-body">
					<img src="{{ player.cover.albumart or player.cover.default }}" 
					class="img-thumbnail my-5"
					style="min-width: 350px; min-height: 350px;" />
					<div class="text-center">
						<h2 class="player-title">
							{{ player.currentsong.title }}
						</h2>
						<h4 class="text-secondary player-artist mb-4">
							{{ player.currentsong.artist }}
						</h4>
						<div class="player">
							<button class="btn btn-lg" onclick="playerRepeat()">
								<i id="btn-player-repeat"class="bi bi-repeat player-btn-repeat"></i>
								<i id="btn-player-repeat-1" class="bi bi-repeat-1 player-btn-repeat-1 hidden"></i>
							</button>
							<button class="btn btn-xl px-3" onclick="playerPrevTrack()">
								<i class="bi bi-skip-start-fill"></i>
							</button>
							<button class="btn btn-xxl px-3" onclick="playerPlayToggle()" style="font-size:28px;">
								<i class="bi bi-play-circle-fill player-btn-play {{ 'hidden' if player.status.state == 'play' else '' }}"></i>
								<i class="bi bi-pause-circle-fill player-btn-pause {{ 'hidden' if player.status.state != 'play' else '' }}"></i>
							</button>
							<button class="btn btn-xl px-3" onclick="playerNextTrack()">
								<i class="bi bi-skip-end-fill"></i>
							</button>
							<button id="btn-player-shuffle" class="btn btn-lg {{ 'on' if player.status.random|int == 1 else '' }}" onclick="playerShuffle()">
								<i class="bi bi-shuffle player-btn-shuffle"></i>
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<script type="text/javascript" src="/static/scripts/jquery.min.js"></script>
	<script type="text/javascript" src="/static/scripts/bootstrap.bundle.min.js"></script>
	<script type="text/javascript" src="/static/js/app.js"></script>
</body>
</html>