{% extends "__master.html" %}

{% block content %}
<div class="container-fluid">
	<div class="row">
		<div class="col-md-6 offset-md-3 p-5 bg-light" style="min-height: 600px;">
			<h2>Config Settings</h2>
			<h5><small>Only update these if you know what you're doing.</small></h5>
			<br />
			<table class="table">
				<thead>
					<tr>
						<th>Key</th>
						<th>Value</th>
					</tr>
				</thead>
				{% for s in settings %}
				<tr>
					<td><input id="setting-id" value="{{ s[0] }}"></td>
					<td><input id="setting-value" value="{{ s[1] }}"></td>
				</tr>
				{% endfor %}
			</table>
		</div>
	</div>
</div>
{% endblock %}