{% extends "__master.html" %}

{% block navbar %}
{% include "views/_navbar.html" %}
{% endblock %}

{% block content %}
<div class="container-fluid h-100">
	<div class="row h-100">
		<div class="col-md-3 col-lg-2 border-dark border-right p-0 bg-dark">

			<!-- FULLSCREEN SIDEBAR NAV -->
			<ul id="sidebar" class="nav nav-pills flex-column h-100">
				<li class="nav-item">
					<h5>Library</h5>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/#browse">
						<i class="bi bi-folder2"></i>
						Browse
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/#artists">
						<i class="bi bi-person"></i>
						Artists
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/#albums">
						<i class="bi bi-disc"></i>
						Albums
					</a>
				</li>
				<!-- <li class="nav-item">
					<a class="nav-link" href="/#live">
						<i class="bi bi-lightning"></i>
						Live Shows
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/#favorites">
						<i class="bi bi-heart"></i>
						Favorites
					</a>
				</li> -->
				<li class="nav-item">
					<h5>Playlists</h5>
				</li>
				<div id="playlists-nav">
					{% include "views/playlists.html" %}
				</div>
				<li style="position: absolute; bottom: 10px; width: 250px;">
					{% if player %}
					<span id="loading" title="Database update in progress Job: {{ player.status.updating_db }}" 
							style="position:absolute; left: 210px; padding: 6px 10px; display: none" data-bs-toggle="tooltip">
						<span class="spinner-border spinner-border-sm" role="status"></span>
					</span>
					{% endif %}
					
					<button class="btn text-secondary" type="button" data-bs-toggle="offcanvas" 
						data-bs-target="#modalSettings" style="display: block; width: 250px; text-align: left;">
						<i class="bi bi-gear me-2"></i> Settings
					</button>
				</li>
			</ul>
			
		</div>
		<div id="views" class="col px-4 py-2 h-100" style="overflow-y: auto;">	

			<!-- DYNAMIC VIEW CONTAINER -->
			<div id="view-container" style="display: none;"></div>

		</div>
	</div>
</div>
{% endblock %}