{% extends "__master.html" %}

{% block content %}
<div class="container">
	<div id="servers" class="row">
	</div>
	<br />
	Jukebox Version: {{ JUKEBOX_VERSION }}
</div>
{% endblock %}

{% block footer_script %}
<script type="text/javascript">
const SERVERS = ["raspberrypi.local", "jukebox.local", "jukebox-hifi.local", "jukebox-office.local"];
$(function() {
   renderServers();
});

function renderServers(){
	console.log('renderServers()');
	$('#servers').html('');
	$(SERVERS).each(function(s){
		$('#servers').append(renderServerPlaceholder(s));
	});
	updateServerStatus();
	setInterval(function(){
   	updateServerStatus();
   }, 1000*60);
}

function updateServerStatus() {
	$(SERVERS).each(function(s){
		$.get("http://" + SERVERS[s] + '/api/status', function(data){
         console.log('Server Found', data)
         $(`#server-${s} i`).attr('class','bi bi-database-check text-success me-2');
         $(`#server-${s} a`).removeClass('text-secondary');
         $(`#server-${s} .server-offline`).hide();
         $(`#server-${s} .server-online`).html(serverHtml(SERVERS[s], data));
      })
      .fail(function(){
      	console.log('Server Not Found')
			$(`#server-${s} i`).attr('class','bi bi-database-slash text-secondary me-2');
			$(`#server-${s} a`).addClass('text-secondary');
			$(`#server-${s} .server-offline`).show();
			$(`#server-${s} .server-online`).html('');
      })
      .always(function(){
      	$(`#server-${s} .spinner-border`).hide();
      });
	});
}

function renderServerPlaceholder(i){
	return `
		<div id="server-${i}" class="col-6 mt-5">
			<div class="card" style="height:22rem; background: #111">
			  <div class="card-body">
			  		<span class="spinner-border spinner-border-md" role="status" style="float:right"></span>
			   	<h5 class="card-title">
			      	<i class="bi bi-dash-circle-dotted text-light me-2"></i>
			    		<a class="no-link" href="http://${SERVERS[i]}">${SERVERS[i]}</a>
			    	</h5> 
			    	<hr class="text-secondary" />
			    	<div class="server-online">
			    	</div>
			    	<div class="server-offline text-center text-secondary" style="display:none">
			    		<br /><br /><br /><br />
			    		<h3>Server Offline</h3>
			    		<small>Turn on your Jukebox and connect to Wifi.</small>
			    	</div>
			  </div>
			</div>
		</div>`;
}
function serverHtml(host, status) {
	return `
	<div class="text-secondary mt-4">
		<img class="me-5" src="http://${host}/api/cover/${status.currentsong.id}" style="float:left; height: 200px; width: 200px;" />
		<h2 class="pt-5 text-light">${status.currentsong.title}</h2>
		<h3>${status.currentsong.artist}</h3>
	</div>`;
}

</script>
{% endblock %}