{% extends "_master.html" %}

{% block content %}
<div id="status"></div>
{% endblock %}
{% block footer_script %}
<script type="text/javascript">
$(function(){
	refreshStatus();
	playerWaitForChange();
});
function playerWaitForChange() {
    $.getJSON('/api/player/idle', function(data){
        console.log('Change received: ' + data)
        refreshStatus()
        playerWaitForChange();
    });
}
function refreshStatus(){
	$.get('/view/status', function(data){
        $('#status').html(data);
    });
}
</script>
{% endblock %}