
<!-- MINI PLAYER -->
<nav id="header" class="navbar navbar-dark bg-dark fixed-top p-0">
	<div class="container-fluid">
		<div class="col-2">
			<a class="navbar-brand" href="/#home">
				<img src="/static/img/apple-touch-icon.png" alt="Jukebox" height="40" />
			</a>
		</div>
		<div class="col-3 player-controls text-center">
			<button class="btn btn-lg px-1" onclick="playerRepeat()" style="font-size:12px;">
				<i id="btn-player-repeat"class="bi bi-repeat player-btn-repeat"></i>
				<i id="btn-player-repeat-1" class="bi bi-repeat-1 player-btn-repeat-1 hidden"></i>
			</button>
			<button class="btn btn-lg px-2" onclick="playerPrevTrack()" style="font-size:20px;">
				<i class="bi bi-skip-start-fill"></i>
			</button>
			<button class="btn btn-lg px-2" onclick="playerPlayToggle()" style="font-size:30px;">
				<i class="bi bi-play-circle-fill player-btn-play"></i>
				<i class="bi bi-pause-circle-fill player-btn-pause hidden"></i>
			</button>
			<button class="btn btn-lg px-2" onclick="playerNextTrack()" style="font-size:20px;">
				<i class="bi bi-skip-end-fill"></i>
			</button>
			<button id="btn-player-shuffle" class="btn btn-lg px-1" onclick="playerShuffle()" style="font-size:12px;">
				<i class="bi bi-shuffle player-btn-shuffle"></i>
			</button>	
		</div>
		<div class="col-4 text-center">	
			<div class="player-marquee">
				<button class="btn text-light" type="button" data-bs-toggle="offcanvas" data-bs-target="#modalOutputs" style="float:right">
					<i class="bi bi-cast"></i>
				</button>
				<h6 class="p-0 m-0 text-light player-title">{{ player.currentsong.title if 'currentsong' in player else '' }}</h6>
				<small class="text-secondary player-artist">{{ player.currentsong.artist if 'currentsong' in player else '' }}</small>
			</div>
		</div>
		<div class="ms-auto">
			<button class="btn text-light" data-bs-toggle="modal" data-bs-target="#modalNowPlaying">
				<i class="bi bi-tv"></i>
			</button>
			<button class="btn text-light" data-bs-toggle="offcanvas" data-bs-target="#modalQueue">
				<i class="bi bi-music-note-list"></i>
			</button>
		</div>
	</div>
</nav>

<!-- SETTINGS POPUP -->
<div class="offcanvas offcanvas-end" tabindex="-1" id="modalSettings" aria-labelledby="menuLabel" data-bs-theme="dark">
	<div class="offcanvas-header" style="border-bottom: solid 1px #333;">
		<h5 class="offcanvas-title" id="menuLabel">
			<i class="bi bi-gear-fill me-2"></i> Settings
		</h5>
		<button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
	</div>
	<div class="offcanvas-body">
		<ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
			<li class="navbar-header mt-4 mb-2 text-secondary">
				<h6>
					STATUS
				</h6>
			</li>
			<li class="nav-item mb-3">
				<a href="javascript:;" onclick="changeServer()" class="btn btn-dark" style="background: #111;">
					{% if player %}
					<i class="bi bi-check-circle text-success me-2" title="ONLINE"></i>
					{% else %}
					<i class="bi bi-x-circle text-secondary me-2" title="OFFLINE"></i>
					{% endif %}
					{{ JUKEBOX_ADDR }}:{{ JUKEBOX_PORT }}
				</a>
			</li>
			<li class="navbar-header mt-4 mb-2 text-secondary">
				<h6>
					LIBRARY
				</h6>
			</li>
			<li class="nav-item">
				<a class="nav-link" aria-current="page" href="javascript:;" 
				data-bs-dismiss="offcanvas" onclick="updateDatabase()">Update Database</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" aria-current="page" href="javascript:;" 
				data-bs-dismiss="offcanvas" onclick="updateDatabase(true)">Rescan Database</a>
			</li>
			<li class="navbar-header mt-4 mb-2 text-secondary">
				<h6>
					SERVER
				</h6>
			</li>
			<li class="nav-item">
				<a class="nav-link" aria-current="page" href="/status" title="Status">
					Status Page
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" aria-current="page" href="/">Reload Jukebox</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" aria-current="page" href="/kiosk" title="Kiosk Mode" target="_blank">
					Kiosk Mode <i class="ms-2 bi bi-box-arrow-up-right"></i>
				</a>
			</li>
			<!-- <li class="nav-item">
				<a class="nav-link" aria-current="page" href="/">Reset to Factory Settings</a>
			</li> -->
		</ul>
		<div style="position: fixed; bottom: 10px">
			{% if not player %}
			<div class="text-warning">
				<i class="bi bi-database-check me-2"></i>
				MPD server not connected.
			</div>
			{% elif player and player.version[2:]|float < 23.5 %}
			<div class="text-warning">
				<i class="bi bi-database-fill-exclamation me-1"></i>
				<strong>MPD server is out of date.</strong>
				<br/>
				<small>Please install MPD version 0.23.5 or higher.</small>
			</div>
			{% elif player %}
			<div class="text-secondary">
				<i class="bi bi-database-check me-2"></i>
				MPD v{{ player.version }}
			</div>
			{% endif %}
		</div>
	</div>
</div>

<!-- QUEUE POPUP -->
<div class="offcanvas queue offcanvas-end" tabindex="-1" id="modalQueue" aria-labelledby="menuLabel" data-bs-theme="dark">
	<div class="offcanvas-header" style="border-bottom: solid 1px #111;">
		<h5 class="offcanvas-title" id="menuLabel"><i class="bi bi-music-note-list me-3"></i>Now Playing</h5>
		<button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
	</div>
	<div id="playlist-queue" class="offcanvas-body">
		{% if playlist %}
		{% include "desktop/views/queue.html" %}
		{% endif %}
	</div>
</div>

<!-- OUTPUTS -->
<div class="offcanvas offcanvas-end" tabindex="-1" id="modalOutputs" aria-labelledby="menuLabel" data-bs-theme="dark">
	<div class="offcanvas-header" style="border-bottom: solid 1px #333;">
		<h5 class="offcanvas-title" id="menuLabel"><i class="bi bi-music-note-list me-3"></i>OUTPUTS</h5>
		<button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
	</div>
	<div class="offcanvas-body">			
		<div id="cast" class="pt-5">
			<h5 class="text-secondary">Outputs</h5>
			{% for o in outputs %}
			<div class="row my-4">
				<div class="col pt-2">
					<label class="switch">
						<input type="checkbox" id="output-{{ o.outputid }}" 
						{% if o.outputenabled|int == 1 %}checked{% endif %}
						onchange="toggleOutput({{ o.outputid }})" />
						<span class="slider round"></span>
					</label>
				</div>
				<div class="col-9">
					<h5 class="text-light switch-label p-0 m-0">{{ o.outputname }}</h5>
					<small>{{ o.plugin|upper }}</small>
				</div>
			</div>
			{% endfor %}
			<h5 class="text-secondary my-4">Volume</h5>
			{% if 'status' in player and 'volume' in player.status %}
			<button class="btn text-light" onclick="playerMuteToggle()" style="font-size: 20px">
				<i class="bi bi-volume-up-fill player-btn-volume"></i>
				<i class="bi bi-volume-mute-fill player-btn-mute" style="display: none;"></i>
			</button>
			
			<!-- VOLUME BAR -->
			<input type="range" id="volume-bar" value="{{ player.status.volume }}"
			style="width: 200px; top: 5px; position: relative;" onchange="changeVolume()" />
			{% endif %}
		</div>
	</div>
</div>


<!-- NOW PLAYING -->
<div class="modal fade" id="modalNowPlaying" aria-hidden="true" aria-labelledby="modalNowPlayingLabel" tabindex="-1">
  <div class="modal-dialog modal-fullscreen">
    <div id="kiosk" class="modal-content">
      {% include "desktop/views/kiosk.html" %}
    </div>
  </div>
</div>
