{% if albums %}
<div class="row">	
	{% for a in albums %}
	{% if a.album != "" %}
	<div class="col-3 mb-4 text-center">
		<a role="button" onclick="playAlbum('{{ a.album|urlencode }}')" style="width: 100%;">
			<img src="/static/img/albums/{{ a.album|quoteplus|urlencode }}.jpg" style="height:250px; width: 250px" />
		</a>
		<a href="/#albums?album={{ a.album|urlencode }}" class="btn text-light mt-2" style="width: 100%;">
			<h6 class="p-0 m-0" style="font-size:0.9rem;">{{ a.album|truncate(36, True) }}</h6>
			<small class="text-secondary" style="font-size:0.8rem;">{{ a.albumartist|truncate(32, True) }}</small>
		</a>
		<!-- <a  class="btn text-secondary" role="button" onclick="playAlbum('{{ a.album }}')" style="height: 2rem; line-height: 2rem;">
			<i class="bi bi-add-circle"></i>
		</a> -->
	</div>
	{% endif %}
	{% endfor %}
</div>
{% endif %}

{% if album %}
<div class="row">
	<div class="col-2">
		<img src="/static/img/albums/{{ album|quoteplus|urlencode }}.jpg" class="img-thumbnail" />
	</div>
	<div class="col-9 ps-5 text-secondary">
		<h1 class="display-1 pt-4 pb-2 text-light">{{ album }}</h1>
		<h5>
			<a role="button" onclick="playAlbum('{{ album|urlencode }}')">
				<i class="bi bi-play-circle-fill"></i>
			</a>&nbsp;
			{{ album_tracks[0].albumartist }} &nbsp;&bull;&nbsp; 
			{{ album_tracks|length }} tracks &nbsp;&bull;&nbsp; 
			{{ album_tracks[0].originaldate[:4] }}
		</h5>
		
	</div>
</div>
<hr />
{% for a in album_tracks %}
<div class="row text-light mb-3">
	<div class="col-1">
		<span class="pos" style="width: 20px;">{{ loop.index }}</span>
		<a class="play no-link" role="button" onclick="playAlbumTrack('{{ album|urlencode }}', {{ loop.index0 }})">
			<i class="bi bi-play-fill"></i>
		</a>
	</div>
	<div class="col">
		<h5 class="m-0">{{ a.title }}</h5>
		<small class="text-secondary">{{ a.artist }}</small>
	</div>
	<div class="col">{{ a.duration|duration }}</div>
	<div class="col">
		<button title="Add To Queue" class="btn text-light" onclick="queueSong('{{ a.file|urlencode }}')">
			<i class="bi bi-music-note-list"></i>
		</button>
	</div>
</div>

{% endfor %}
{% endif %}