<h1>Library</h1>
<div>
	<a style="font-size:2rem" class="btn" href="javascript:" onclick="browseLibrary('..')">
		<i class="bi bi-folder me-2"></i>
		<i class="bi bi-arrow-90deg-up"></i>
	</a>
</div>
{% for d in browse if 'directory' in d %}
<div>
	<a style="font-size:2rem" class="btn" href="javascript:" onclick="browseLibrary('{{ d.directory }}')">
		<i class="bi bi-folder me-2"></i>
		{{ d.directory }}
	</a>
</div>
{% endfor %}
{% for f in browse if 'file' in f %}
<div>
	<a style="font-size:2rem" class="btn" href="javascript:" onclick="browseLibrary('{{ f.file }}')">
		<i class="bi bi-file-music-fill me-2"></i>
		{{ f.file }}
	</a>
</div>
{% endfor %}
