<div id="queue">
{% if playlist and playlist|length > 0 %}

	{% if player.currentsong %}
	<div class="row text-secondary mb-5 mt-4">
		<div class="col-2">
			<img src="/api/cover/{{ player.currentsong.id }}" class="img-thumbnail" style="width:84px; height: 84px;" />
		</div>
		<div class="col">
			<h4 class="text-light mt-2 mb-0">{{ player.currentsong.title }}</h4>
			<small>{{ player.currentsong.artist }}</small>
			<div class="mt-2">
				{% if player and 'status' in player and player.status.state != "stop" %}
					{% set ext = player.currentsong.file[-4:].replace('.','')|upper %}
					{% if ext in ['WAV', 'FLAC', 'ALAC'] %}
					<span class="badge me-1 text-bg-info">
						<i class="bi bi-soundwave"></i> HD
					</span>
					{% endif %} 
					<span class="badge text-bg-dark me-1">
						 {{ ext }}
					</span>
					 <span class="badge text-bg-dark me-1">
					 	{{ player.status.audio_hz }} &bull; {{ player.status.audio_bits }}
					</span>
				{% endif %}
			</div>
		</div>
	</div>
	<div class="row mb-2">
		<div class="col-1 text-center">
			<i class="bi bi-file-music-fill me-1"></i>
		</div>
		<div class="col">
			Next Up
		</div>
		<div class="col col-right">
			<a href="javascript:;" class="btn btn-sm" onclick="saveQueueAsPlaylist()" data-bs-toggle="tooltip" data-bs-title="Save as playlist">
				<i class="bi bi-floppy-fill"></i>
			</a>
		</div>
	</div>
	<hr class="m-0 mb-2" style="color:grey;" />
	{% endif %}

	
	{% for p in playlist %}
	{% if player.status.state == 'stop' or player.status.random|int == 1 or ('song' in player.status) and (player.status.song|int == player.status.playlistlength|int-1 or p.pos|int > player.status.song|int) %}
	<div class="row text-secondary mb-2 py-1 row-play-pos">

		<div class="col-1 col-play-pos text-center">
			{% if p.pos == player.status.song %}
			<i class="bi bi-volume-up-fill"></i>
			{% else %}
			<span class="pos">{{ p.pos|int+1 }}</span>
			<a class="play no-link" href="javascript:;" onclick="playlistSongId({{ p.id }})">
				<i class="bi bi-play-fill"></i>
			</a>
			{% endif %}
		</div>
		<div class="col">
			<a class="no-link" href="javascript:;" onclick="playlistSongId({{ p.id }})">
				<span class="text-light">{{ p.title }}</span><br />
				<small style="font-size: 11px;">{{ p.artist }}</small>
			</a>
		</div>
		<div class="col-4 col-right">
			<button class="btn btn-sm text-light"><i class="bi bi-list"></i></button>
			<button onclick="deleteFromQueue({{ p.id }})" class="btn btn-sm text-light"><i class="bi bi-x-circle"></i></button>
		</div>
	</div>
	{% endif %}
	{% endfor %}

	<hr />
	<a href="javascript:;" class="btn p-0 text-secondary" onclick="clearPlaylist()">
		<i class="bi bi-trash-fill me-2"></i>
		<small>CLEAR QUEUE</small>
	</a>

{% else %}
<div class="text-center text-secondary">
	<br /><br /><br />
	<br /><br /><br />
	<br /><br /><br />
	<br /><br /><br />
	<br /><br /><br />
	<h1><i class="bi bi-music-note-list"></i></h1>
	Queue is empty.
</div>
{% endif %}
	
</div>
