<div id="queue">
	<div class="row text-secondary mb-4">
		<div class="col-3">
			<img src="/api/cover/{{ player.currentsong.id }}" class="img-thumbnail" style="width:64px; height: 64px;" />
		</div>
		<div class="col">
			<h4 class="text-light mt-3 mb-0">{{ player.currentsong.title }}</h4>
			<small>{{ player.currentsong.artist }}</small>
		</div>
	</div>
	<div class="row mb-2">
		<div class="col">
			<i class="bi bi-file-music-fill me-1"></i> Next Up
		</div>
		<div class="col" style="text-align: right; padding-right: 1.5em;">
			<a href="javascript:;" class="btn btn-sm" onclick="saveQueueAsPlaylist()" data-bs-toggle="tooltip" data-bs-title="Save as playlist">
				<i class="bi bi-floppy-fill"></i>
			</a>
			<a href="javascript:;" class="btn btn-sm" onclick="clearPlaylist()" data-bs-toggle="tooltip" data-bs-title="Clear queue">
				<i class="bi bi-trash3-fill"></i>
			</a>
		</div>
	</div>
	<hr class="m-0 mb-2" />
	{% for p in playlist %}
	{% if ('song' in player.status) and (p.pos|int > player.status.song|int) %}
	<div class="row text-secondary mb-2">
		<div class="col">
			<a class="no-link" href="javascript:;" onclick="playlistSongId({{ p.id }})">
				<span class="text-light">{{ p.title }}</span><br />
				<small>{{ p.artist }}</small>
			</a>
		</div>
		<div class="col-2">
			<button class="btn btn-md text-light"><i class="bi bi-list"></i></button>
		</div>
	</div>
	{% endif %}
	{% endfor %}
</div>