<div class="container-fluid">
	<div class="row">
		<div class="col">
			<div class="input-group">
				<span class="input-group-text" id="basic-addon1">
					<i class="bi bi-search"></i>
				</span>
				<input autocomplete="off" id="search" type="text" class="form-control" placeholder="Search for album, artist, song, or genre" aria-label="search">
			</div>
			<div id="search-results" class="mt-4">
			</div>
			<div id="search-results-none" class="text-center">
				<br /><br /><br />
				<br /><br /><br />
				<br /><br /><br />
				<br /><br /><br />
				<i class="bi bi-search" style="font-size: 60px;"></i>
				<br />
				Search the library

			</div>
		</div>
	</div>
</div>