{% if artist %}
<h1 class="py-4 px-4 text-light">{{ artist }}</h1>
<h5 class="px-4">
	<button class="btn text-secondary" onclick="playArtist('{{ artist|urlencode }}')" title="Play Artist">
		<i class="bi bi-play-circle"></i>
	</button>
	<small class="text-secondary">{{ albums|length }} Albums</small>
</h5>
{% endif %}

{% if albums %}
<div class="row">	
	{% for a in albums %}
	{% if a.album != "" %}
	<div class="col-3 mb-4 text-center">
		<a role="button" onclick="playAlbum('{{ a.album|urlencode }}')" style="width: 100%;">
			<img src="/static/img/albums/{{ a.album|quoteplus|urlencode }}.jpg" style="height:250px; width: 250px" />
		</a>
		<a href="/#albums?album={{ a.album|urlencode }}" class="btn text-light mt-2" style="width: 100%;">
			<h6 class="p-0 m-0" style="font-size:0.9rem;">{{ a.album|truncate(36, True) }}</h6>
			<small class="text-secondary" style="font-size:0.8rem;">{{ a.albumartist|truncate(32, True) }}</small>
		</a>
	</div>
	{% endif %}
	{% endfor %}
</div>
{% endif %}

{% if album %}
<div class="row">
	<div class="col-2">
		<img src="/static/img/albums/{{ album|quoteplus|urlencode }}.jpg" class="img-thumbnail" />
	</div>
	<div class="col-9 ps-5 text-secondary">
		<h1 class="mt-5 pt-3 pb-3 text-light">{{ album }}</h1>
		<h5>
			<a role="button" onclick="playAlbum('{{ album|urlencode }}')">
				<i class="bi bi-play-circle-fill"></i>
			</a>&nbsp;
			<a class="no-link text-secondary" href="/#albums?artist={{ album_tracks[0].albumartist|urlencode }}">{{ album_tracks[0].albumartist }}</a>
			&nbsp;&bull;&nbsp; 
			{{ album_tracks|length }} tracks &nbsp;&bull;&nbsp; 
			{{ album_tracks[0].genre }}
		</h5>	
	</div>
</div>
<hr />
{% for a in album_tracks %}
<div class="row row-track text-light">
	<div class="col-1 text-center">	
		<button class="btn pos text-light">{{ loop.index }}</button>
		<button class="btn play no-link" role="button" onclick="playAlbumTrack('{{ album|urlencode }}', {{ loop.index0 }})">
			<i class="bi bi-play-fill"></i>
		</button>
	</div>
	<div class="col">
		<h6 role="button" class="m-0" onclick="playAlbumTrack('{{ album|urlencode }}', {{ loop.index0 }})">{{ a.title }}</h6>	
		<small class="text-secondary">{{ a.artist }}</small>
	</div>
	<div class="col-1"><span class="btn text-light">{{ a.duration|duration }}</span></div>
	<div class="col-1">
		<button title="Add To Queue" class="btn text-light" onclick="queueSong('{{ a.file|urlencode }}')">
			<i class="bi bi-plus-circle"></i>
		</button>
	</div>
</div>

{% endfor %}
{% endif %}