{% if artist %}
<h1 class="pt-4 pb-2 px-4 text-light">{{ artist }}</h1>
<h5 class="px-2">
	<button class="btn text-secondary" onclick="playArtist('{{ artist|urlencode }}')" title="Play Artist">
		<i class="bi bi-play-circle"></i>
	</button>
	<small class="text-secondary">{{ albums|length }} Albums</small>
</h5>
<hr />
{% else %}
<h1 class="py-4 px-4 text-light">Live Shows</h1>
{% endif %}

{% if albums %}
<div class="row">	
	{% for a in albums %}
	{% if a.album != "" %}
	<div class="col-3 mb-4 text-center">
		<a role="button" onclick="playAlbum('{{ a.album|urlencode }}')" style="width: 100%;">
			<img src="/static/img/albums/{{ a.album|quoteplus|urlencode }}.jpg" style="height:250px; width: 250px" />
		</a>
		<a href="/#albums?album={{ a.album|urlencode }}" class="btn text-light mt-2" style="width: 100%;">
			<h6 class="p-0 m-0" style="font-size:0.9rem;">{{ a.album|truncate(36, True) }}</h6>
			<small class="text-secondary" style="font-size:0.8rem;">{{ a.albumartist|truncate(32, True) }}</small>
		</a>
	</div>
	{% endif %}
	{% endfor %}
</div>
{% endif %}
