{% if player %}
<div class="container-fluid">
	<div class="row mt-4">
		<div class="col-4 px-4">
			<h3 class="text-secondary">Jukebox</h3>
			<table class="table table-dark">
				<tr>
					<td>
						<i class="bi bi-server me-2"></i> Server
					</td>
					<td style="width: 50%;">
						{{ JUKEBOX_ADDR }}:{{ JUKEBOX_PORT }}
					</td>
				</tr>
				<tr>
					<td>
						<i class="bi bi-file-music-fill me-2"></i> Version
					</td>
					<td style="width: 50%;">{{ player.jukebox_version }}</td>
				</tr>
			</table>
			<h3 class="text-secondary">MPD Library</h3>
			<table class="table table-dark">
				<tr>
					<td><i class="bi bi-mic-fill me-2"></i> Artists</td>
					<td style="width: 50%;">{{ '{:,}'.format(stats.artists|int) }}</td>
				</tr>
				<tr>
					<td><i class="bi bi-vinyl-fill me-2"></i> Albums</td>
					<td style="width: 50%;">{{ '{:,}'.format(stats.albums|int) }}</td>
				</tr>
				<tr>
					<td><i class="bi bi-file-music-fill me-2"></i> Songs</td>
					<td style="width: 50%;">{{ '{:,}'.format(stats.songs|int) }}</td>
				</tr>
			</table>
			<h3 class="text-secondary">MPD Server</h3>
			<table class="table table-dark">
				<tr>
					<td><i class="bi bi-database-fill me-2"></i> Last Update</td>
					<td style="width: 50%;">{{ stats.db_update|dt }}</td>
				</tr>
				<tr>
					<td><i class="bi bi-database-fill me-2"></i> DB Playtime</td>
					<td style="width: 50%;">{{ stats.db_playtime|seconds }}</td>
				</tr>
				<tr>
					<td><i class="bi bi-database-fill me-2"></i> Playtime</td>
					<td style="width: 50%;">{{ stats.playtime|seconds }}</td>
				</tr>
				<tr>
					<td><i class="bi bi-database-fill me-2"></i> Uptime</td>
					<td style="width: 50%;">{{ stats.uptime|seconds }}</td>
				</tr>
				<tr>
					<td><i class="bi bi-database-fill me-2"></i> MPD Version</td>
					<td style="width: 50%;">{{ player.mpd_version }}</td>
				</tr>
			</table>
			<h3 class="text-secondary">Playback Rate</h3>
			<table class="table table-dark">
				<tr>
					<td><i class="bi bi-speaker-fill me-2"></i> Sample Rate</td>
					<td style="width: 50%;">{{ player.status.audio|audio if player.status.audio else "N/A" }}</td>
				</tr>
				<tr>
					<td><i class="bi bi-speaker-fill me-2"></i> Bitrate</td>
					<td style="width: 50%;">{{ player.status.bitrate if player.status.audio else "0" }} kpbs</td>
				</tr>
			</table>
		</div>
		<div class="col">
			<h3 class="text-secondary">MPD Status</h3>
			<table class="table table-dark table-sm">
				{% for v in player.status|sort %}
				<tr>
					<td>{{ v|upper }}</td>
					<td style="width:80%">{{ player.status[v] }}</td>
				</tr>
				{% endfor %}
			</table>
		</div>
	</div>
</div>
{% else %}
<div class="text-center">
	<br /><br /><br />
	<br /><br /><br />
		<br /><br /><br />
	<br /><br /><br />
	<br /><br /><br />
	<br /><br /><br />
	<h1><i class="bi bi-database-fill-x"></i></h1>
	<h3>Connect to Jukebox</h3>
</div>
{% endif %}