{% extends "__master.html" %}

{% block navbar %}
{% include "desktop/views/_navbar.html" %}
{% endblock %}

{% block content %}
<div class="container-fluid h-100">
	<div class="row h-100">
		<div class="col-md-3 col-lg-2 border-dark border-right p-0 bg-dark">
			<ul id="sidebar" class="nav nav-pills flex-column h-100">
				<li class="nav-item">
					<h5>Library</h5>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/#browse">
						<i class="bi bi-folder-fill"></i>
						Browse
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/#artists">
						<i class="bi bi-person"></i>
						Artists
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/#albums">
						<i class="bi bi-disc"></i>
						Albums
					</a>
				</li>
				<li class="nav-item">
					<h5>Playlists</h5>
				</li>
				{% for p in playlists %}
				<li class="nav-item">
					<a class="nav-link" href="javascript:;" data-something="/#playlist/{{ p.playlist }}" onclick="playPlaylist('{{ p.playlist }}')" style="display: inline-block;">
						<i class="bi bi-file-earmark-music"></i>
						{{ p.playlist }}
					</a>
				</li>
				{% endfor %}
				<li style="position: absolute; bottom: 10px; width: 250px;">
					{% if player %}
					<span id="loading" title="Database update in progress Job: {{ player.status.updating_db }}" 
							style="position:absolute; left: 210px; padding: 6px 10px; display: none" data-bs-toggle="tooltip">
						<span class="spinner-border spinner-border-sm" role="status"></span>
					</span>
					{% endif %}
					
					<button class="btn text-secondary" type="button" data-bs-toggle="offcanvas" 
						data-bs-target="#modalSettings" style="display: block; width: 250px; text-align: left;">
						<i class="bi bi-gear me-2"></i> Settings
					</button>
				</li>
			</ul>
			
		</div>
		<div id="views" class="col px-4 py-2 h-100" style="overflow-y: auto;">	

			<!-- Dynamic Views -->
			<div id="view-container" style="display: none;"></div>

			<div id="view-home" style="display: none;">
				{% include "desktop/views/home.html" %}
			</div>

			<!-- ALBUMS VIEW -->
			<div id="view-albums" style="display: none;">
				{% include "desktop/views/albums.html" %}
			</div>

			<!-- ARTIST VIEW -->
			<div id="view-artists" style="display: none;">
				{% include "desktop/views/artists.html" %}
			</div>

		</div>
	</div>
</div>

<div class="modal fade" id="modalConnection" tabindex="-1" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Connect To Jukebox</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<h3>Let's get some music playing!</h3>
        <!-- <ol>
        	<li>Plug in your Jukebox</li>
        	<li>Give it 1-2 minutes to boot up</li>
        	<li>Enter the connection details below</li>
        	<li>Click CONNECT</li>
        </ol> -->
        <label for="txtConnectionId" class="form-label">Server Address</label>
        <input id="txtConnectionId" type="text" class="form-control-lg my-2 w-100" value="jukebox.local" />
      </div>
      <div class="modal-footer">
      	<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      	<button type="button" class="btn btn-primary">Connect to Jukebox</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}