{% extends "__master.html" %}

{% block content %}
<style>
	body{
		padding-top:70px;
	}
</style>
<div class="container-fluid h-100">
	<div class="row h-100">
		<div class="col-md-3 col-lg-2 border-dark border-right p-0 bg-dark">
			<ul id="sidebar" class="nav nav-pills flex-column h-100">
				<li class="nav-item">
					<h5>Library</h5>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/#browse">
						<i class="bi bi-folder-fill"></i>
						Browse
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/#artists">
						<i class="bi bi-person"></i>
						Artists
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/#albums">
						<i class="bi bi-disc"></i>
						Albums
					</a>
				</li>
				<li class="nav-item">
					<h5>Playlists</h5>
				</li>
				{% for p in playlists %}
				<li class="nav-item">
					<a class="nav-link" href="/#playlist/{{ p.playlist }}" style="display: inline-block;">
						<i class="bi bi-file-earmark-music"></i>
						{{ p.playlist }}
					</a>
				</li>
				{% endfor %}
			</ul>
		</div>
		<div id="views" class="col px-4 py-2 h-100" style="overflow-y: auto;">	

			<!-- Dynamic Views -->
			<div id="view-container" style="display: none;"></div>

			<div id="view-home" style="display: none;">
				{% include "desktop/views/home.html" %}
			</div>

			<!-- ALBUMS VIEW -->
			<div id="view-albums" style="display: none;">
				{% include "desktop/views/albums.html" %}
			</div>

			<!-- ARTIST VIEW -->
			<div id="view-artists" style="display: none;">
				{% include "desktop/views/artists.html" %}
			</div>

			<!-- BROWSE VIEW -->
			<div id="view-browse" style="display: none;">
				{% include "desktop/views/browse.html" %}
			</div>


		</div>
	</div>
</div>

<div class="modal fade" id="modalConnection" tabindex="-1" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Connect To Jukebox</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<h3>Let's get some music playing!</h3>
        <!-- <ol>
        	<li>Plug in your Jukebox</li>
        	<li>Give it 1-2 minutes to boot up</li>
        	<li>Enter the connection details below</li>
        	<li>Click CONNECT</li>
        </ol> -->
        <label for="txtConnectionId" class="form-label">Server Address</label>
        <input id="txtConnectionId" type="text" class="form-control-lg my-2 w-100" value="jukebox.local" />
      </div>
      <div class="modal-footer">
      	<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      	<button type="button" class="btn btn-primary">Connect to Jukebox</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}
<!--
<div class="col-md-9 col-lg-10 h-100 p-0">
	<table id="tbl-filter">
		<tr>
			<td style="width: 33%">
				<select id="drp-artists" multiple>
					{% for a in artists %}
					<option value="{{ a[0] }}">{{ a[0] }}</option>
					{% endfor %}
				</select>
			</td>
			<td style="width: 33%">
				<select id="drp-albums" multiple>
					{% for a in albums %}
					{% if a[0] != None %}
					<option value="{{ a[0] }}">{{ a[0] }}</option>
					{% endif %}
					{% endfor %}
				</select>
			</td>
			<td style="width: 33%">
				<select id="drp-genres" multiple>
					{% for g in genres %}
					<option value="{{ g[0] }}">{{ g[0] }}</option>
					{% endfor %}
				</select>
			</td>
		</tr>
		<tr>
			<td colspan="3" style="max-height:100%; overflow-y: scroll;">
				<table id="tbl-tracks" class="table table-sm table-dark">
					<thead class="table-dark">
						<tr>
							<th scope="col">&nbsp;</th>
							<th class="ps-3" scope="col">Song</th>
							<th scope="col">Artist</th>
							<th scope="col">Album</th>
							<th scope="col">Year</th>
							<th scope="col">Genre</th>
							<th scope="col">Track</th>
							<th class="pe-3" scope="col">Disc</th>
						</tr>
					</thead>
					<tbody>
						{% for t in tracks %}
						<tr>
							<td></td>
							<td class="ps-3 overflow-x-hidden">{{ t.track }}</td>
							<td>{{ t.albumartist }}</td>
							<td>{{ t.album }}</td>
							<td>{{ t.year }}</td>
							<td>{{ t.genre }}</td>
							<td>{{ t.tracknumber|replace('/', ' of ') if t.tracknumber else "" }}</td>
							<td class="pe-3">{{ t.discnumber|replace('/', ' of ') if t.discnumber else "" }}</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</td>
		</tr>
	</table>
</div>			 
-->